<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Block und Inline</title>
    <style>
        h1 { background-color: silver; color:black;}
        em { background-color: silver; color:black;}
        /*
        nav li {
            list-style: none;
            margin:0 20px 0 0 ;
            display:inline;
        }
        */
    </style>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>Home</li>
                <li>Seite 1</li>
                <li>Seite 2</li>
                <li>Seite 3</li>
            </ul>
        </nav>
        <h1>Block-Element</h1>
        <p>Mitten im Absatz ein <em>Inline-Element.</em> Inline-Elemente sind z.B. auch &lt;span&gt; und &lt;img&gt;.</p>

    </header>
</body>
</html>